*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(199, 87, 43);
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

nav{
    background-color: rgb(43, 25, 10);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

li a{
    font-weight: bold;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
}

.tex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

h1{
    font-size: 3em;
    color: #fff;
}

h1 span{
    color: rgb(43, 25, 10);
}

section p{
    color: #fff;
    width: 15em;
}

.tex button{
    margin-top: 10px;
    font-size: 1em;
    letter-spacing: 2px;
    border: none;
    border-radius: 40px;
    padding: 2px 9px;
    background-color: rgb(43, 25, 10);
    color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

footer{
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(43, 25, 10);
    color: #fff;
    padding: 10px 0;
}


@media screen and (orientation: landscape) {
    section{
        flex-direction: row;
        gap: 7em;
    }

    section img{
        width: 180px;
    }
}